body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  /* font-size: 3rem; */
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.mainContent {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cards {
  height: 180px;
}

.loader {
  height: 200px;
}